<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="heading">
	<f:translate key="tx_gdprextensionscomgmap_domain_model_gdprmanager.heading" />
</label><br />
	<f:form.textarea property="heading" id="heading" cols="40" rows="15" /><br />
<label for="content">
	<f:translate key="tx_gdprextensionscomgmap_domain_model_gdprmanager.content" />
</label><br />
	<f:form.textarea property="content" id="content" cols="40" rows="15" /><br />
<label for="buttonText">
	<f:translate key="tx_gdprextensionscomgmap_domain_model_gdprmanager.button_text" />
</label><br />
	<f:form.textarea property="buttonText" id="buttonText" cols="40" rows="15" /><br />
<label for="enableBackgroundImage">
	<f:translate key="tx_gdprextensionscomgmap_domain_model_gdprmanager.enable_background_image" />
</label><br />
	<f:form.textfield property="enableBackgroundImage" id="enableBackgroundImage" /><br />
<label for="backgroundImage">
	<f:translate key="tx_gdprextensionscomgmap_domain_model_gdprmanager.background_image" />
</label><br />
	<f:form.textarea property="backgroundImage" id="backgroundImage" cols="40" rows="15" /><br />
<label for="backgroundImageColor">
	<f:translate key="tx_gdprextensionscomgmap_domain_model_gdprmanager.background_image_color" />
</label><br />
	<f:form.textfield property="backgroundImageColor" id="backgroundImageColor" /><br />
<label for="buttonColor">
	<f:translate key="tx_gdprextensionscomgmap_domain_model_gdprmanager.button_color" />
</label><br />
	<f:form.textfield property="buttonColor" id="buttonColor" /><br />
<label for="textColor">
	<f:translate key="tx_gdprextensionscomgmap_domain_model_gdprmanager.text_color" />
</label><br />
	<f:form.textfield property="textColor" id="textColor" /><br />
<label for="buttonShape">
	<f:translate key="tx_gdprextensionscomgmap_domain_model_gdprmanager.button_shape" />
</label><br />
	<f:form.textfield property="buttonShape" id="buttonShape" /><br />
</html>
