<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-gdpr-extensions-com-googlemaps" >
	<tr>
		<td><f:translate key="tx_gdprextensionscomyoutube_domain_model_gdprmanager.heading" /></td>
		<td>{gdprManager.heading}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_gdprextensionscomyoutube_domain_model_gdprmanager.content" /></td>
		<td>{gdprManager.content}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_gdprextensionscomyoutube_domain_model_gdprmanager.button_text" /></td>
		<td>{gdprManager.buttonText}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_gdprextensionscomyoutube_domain_model_gdprmanager.enable_background_image" /></td>
		<td>{gdprManager.enableBackgroundImage}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_gdprextensionscomyoutube_domain_model_gdprmanager.background_image" /></td>
		<td>{gdprManager.backgroundImage}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_gdprextensionscomyoutube_domain_model_gdprmanager.background_image_color" /></td>
		<td>{gdprManager.backgroundImageColor}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_gdprextensionscomyoutube_domain_model_gdprmanager.button_color" /></td>
		<td>{gdprManager.buttonColor}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_gdprextensionscomyoutube_domain_model_gdprmanager.text_color" /></td>
		<td>{gdprManager.textColor}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_gdprextensionscomyoutube_domain_model_gdprmanager.button_shape" /></td>
		<td>{gdprManager.buttonShape}</td>
	</tr>
</table>
</html>
